$color-white-default: #fff;
$color-black-default: #000;
$color-search-bar: #a0a0a0;


$color-gray-background-input: #f2f6fb;
$color-blue-logo: #4780ef;
$color-gray-nav: #a5b2b9;

$border-radius-xs: 3px;
$border-radius-sm: 6px;
$border-radius-lg: 16px;

$opacity-sm: 0.849;
$opacity-md: 0.7;
$opacity-lg: 0.4;


$font-size-sm: 1.4rem;
$font-size-md: 1.9rem;
$font-size-lg: 2.8rem;
$font-size-xxl: 7.8rem;
