#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $color-white-default;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 200em rgba(0, 0, 0, 0.85);

  main {
    display: flex;
    width: 115.2em;
    height: 70em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
