.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2.5;
  padding: 3em 2em;

  nav {
    ul {
      list-style: none;
      a {
        color: $color-white-default;
        font-size: $font-size-md;
      }
    }
  }

  .weather-resume {
    display: flex;

    .weather-deg {
      font-size: $font-size-xxl;
    }

    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      .localisation {
        font-size: $font-size-lg;
        font-weight: bold;
      }

      .date,
      .weather {
        font-size: $font-size-sm;
        font-weight: lighter;
        opacity: $opacity-md;
      }
    }

    .weather-scale {
      display: flex;
      align-items: flex-end;
      padding-bottom: 1.2em;

      button {
        border: none;
        background: none;
        font-size: $font-size-sm;
        color: $color-white-default;

        &:hover {
          cursor: pointer;
        }
      }
      .opacity-5 {
        opacity: 0.5;
      }

      span {
        margin: 0 0.4em;
        font-size: $font-size-sm;
      }
    }
  }
}
