.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 3em 4em;
  background: rgba($color-black-default, $alpha: .7);
  backdrop-filter: blur(3px);

  .top {
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    flex: 1;
    border-bottom: 1px solid $color-white-default;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 2em;

    .title-section {
      font-size: $font-size-md;
    }
  }
}
