.search {
  span {
    display: flex;
    padding-bottom: 22px;
    input {
      width: 100%;
      height: 36px;
      border-top-left-radius: $border-radius-sm;
      border-bottom-left-radius: $border-radius-sm;
      padding: 6px;
      border: none;
      background-color: $color-search-bar;
      opacity: $opacity-sm;
      color: $color-white-default;

      &::placeholder, &:focus {
        color: $color-white-default;
        font-size: $font-size-sm;
        outline: none;
      }
    }
    .search-btn {
      border: none;
      padding: 9px;
      color: $color-white-default;
      border-top-right-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;
      background-color: $color-search-bar;
      opacity: $opacity-sm;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
