.weather-details {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title-section {
    padding-bottom: 1.2em;
    font-size: $font-size-md;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }

  p {
    display: flex;
    justify-content: space-between;
    padding: .6em 0;
  }
}
