.wrapper-forecast {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  padding-top: 2em;
  height: 90%;
  width: 95%;
  font-size: $font-size-sm;

  .wrapper-forecast-temp {
    width: 105%;
    align-self: center;

    .current-temp {
      color: $color-black-default;
      background-color: $color-white-default;
      padding: .3em;
      border-radius: $border-radius-lg;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .forecast-visu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 96%;
    flex: 1;

    .wick {
      position: relative;
      height: 90%;
      width: 1px;
      background-color: $color-search-bar;

      .prev,
      .current {
        position: absolute;
        left: -1px;
        bottom: 0;
        background-color: $color-white-default;
        width: 4px;
        border-radius: $border-radius-xs;
      }
    }
  }

  .wrapper-forecast-hour {
    width: 105%;
    .none {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  .opacity-5 {
    opacity: 0.5;
  }
}
